
section {
  padding-top: 150px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.content-collapse {
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #e74c3c;
}

.content-collapse [data-toggle] {
  display: block;
  padding: 20px;
  cursor: pointer;
  backface-color: #c0392b;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-collapse .content {
  display: none;
  border-top: 1px solid #e74c3c;
  padding: 10px 20px;
  background-color: #ecf0f1;
}

.content-collapse .open { display: block; }
