

/*navigatinbar contents  color*/
.navbar-inverse .navbar-collapse {
    border-color: #FFFFFF;
}

/* bootstrab toggle color*/
.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
     background-color: #3498db;
}

.p{
    text-align: justify;
}

#blog_img{
    height: 75px;
    margin-top: 10px;
    float: left;
}




/*Footer syling start here*/

.site-footer
{
    background-color: #222;
    color:#fff;
    margin-top: 30px;
    padding-top: 30px;
}



.bottom-footer
{
    border-top: 1px solid #b2b2b2;
    margin-top: 10px;
    padding-top: 10px;
    color: #b2b2b2;
}



.footer-nav
{
text-align: right;
list-style: none;
}



.footer-nav li
{
    display: inline;
    padding:0px 10px;
}

.footer-nav li:not(:first-child):before
{
    content: '|';
    padding:0px 10px;
}

.site-footer-nav li
{
text-align: left;
list-style: none;

text-color: white;
}


h4{
    text-align-last: left;
}


/*Footer Styling End tag*/