
.navbar-inverse .navbar-brand:hover {
    color: #2ecc71;
}


/*navigatinbar when click active color red*/
.navbar-inverse .navbar-nav > li > a:active {
    color: red;

}

/*navigatinbar contents  color*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFFFFF;
}
/* bootstrab toggle color*/
.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
     background-color: #3498db;
}



/*proffesor photo storry*/
#img_content_6{
    height: 100px;
    width: 100px;
    margin: 10px;
    float: left;
}

/*recent Activities vertical photo */
img{

    height: 100%;
    width: 100%;
}

/*this is for index.php jubmbatoron logo image*/
#blog_img1{
    height: 50px;
    width: 52px;

}

/*navigatinbar contents  color*/
.navbar-inverse .navbar-collapse {
    border-color: #FFFFFF;
}

/* bootstrab toggle color*/
.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
     background-color: #3498db;
}

.p{
    text-align: justify;
}

/*home.php banner alignment*/

.banner-align {
    margin-top: 50px;

}


.container
{
width: 97.5%
}



/*Footer syling start here*/

.site-footer
{
    background-color: #222;
    color:#fff;
    margin-top: 30px;
    padding-top: 30px;
}



.bottom-footer
{
    border-top: 1px solid #b2b2b2;
    margin-top: 10px;
    padding-top: 10px;
    color: #b2b2b2;
}



.footer-nav
{
text-align: right;
list-style: none;
}



.footer-nav li
{
    display: inline;
    padding:0px 10px;
}

.footer-nav li:not(:first-child):before
{
    content: '|';
    padding:0px 10px;
}

.site-footer-nav li
{
text-align: left;
list-style: none;

text-color: white;
}


h4{
    text-align-last: left;
}

  body{background: #f7f7f7;}
.errorMessage { color:red;}
.bg_data {
      background: url(https://lh5.googleusercontent.com/-PxxJg0cfLSc/UY3T62lCUVI/AAAAAAAAAo4/jZoTISc15Bw/w27-h15-no/img08.png);
    margin: auto;  
}


.example_responsive_1 {width: 650px; height: 300px; }
@media(min-width: 500px) { .example_responsive_1 { width: 650px; height: 300px; } }
@media(min-width: 800px) { .example_responsive_1 { width: 650px; height: 300px; } }
/*Footer Styling End tag*/

.navbar-inverse .navbar-nav > li  {
    color: yellow;

